
@use "../scss/abstracts/" as*;
.main{
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/home/background-home-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    p{    
        @include Heading-Five;
    }

    @media(min-width: 600px){
        background-image: url("../assets/home/background-home-tablet.jpg");

    }

    @media(min-width: 1086px){
        background-image: url("../assets/home/background-home-desktop.jpg");

    }
}