@use "../../scss//abstracts/" as *;

.header {
    width: 100vw;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        display: none;
    }

    .flex_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1440px;
        height: 100%;
        padding: 0 40px;
    }

    .box_img {
        width: 40%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .line {
            height: 1px;
            width: 473px;
            background-color: $brand6;
            position: absolute;
            right: -150px;
            display: none;
        }
    }

    .box_container{
        display: none;
        height: 100%;
        width: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;


    }
    .box_nav {
       width: 100%;
       height: 100%;
        background-color: $brand2;
        opacity: 5%;

        &:hover {
            opacity: 40%;
            filter: blur(4px);
        }


    }

    @media(min-width: 700px) {
        .menu {
            display: none;
        }

        .box_container {
            display: flex;
        }

        .nav {
            position: absolute;
            display: flex;
            height: 80px;
            width: 100%;
            align-items: center;
            justify-content: space-around;

            a {
                border-bottom: 3px solid transparent;
                height: 99%;
                display: flex;
                align-items: center;
                gap: 10px;
                text-decoration: none;

                &:hover {
                    border-bottom: 3px solid $brand6;
                }

                &:focus {
                    border-bottom: 3px solid $brand3;

                }

            }
        }
    }

    @media(min-width: 1086px) {
        position: absolute;
        top: 50px;

        span {
            display: block;
        }

    }

    @media(min-width: 1440px) {
        .box_img {
            .line {
                display: block;
            }
        }

    }
}